Package: com.protosphere.pinnacle
Name: Pinnacle
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Josh Kugelmann
Author: Josh Kugelmann
Section: Tweaks
