Package: com.protosphere.pinnacle
Name: Pinnacle
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: reveal navigation menu holding back button
Maintainer: Josh Kugelmann
Author: Josh Kugelmann
Section: Tweaks
